// .vue3-easy-data-table__body tr:first-child td,
// .vue3-easy-data-table__body tr:first-child td,
// .vue3-easy-data-table__header th,
// .vue3-easy-data-table,
// .vue3-easy-data-table__body td,
// .vue3-easy-data-table__footer {
//   border: 0px !important;
//   padding: 20px 10px !important;
// }
// .vue3-easy-data-table__header th {
//   font-size: 16px !important;
// }
// .vue3-easy-data-table__body tr td {
//   text-align: center !important;
//   font-size: 14px !important;
// }
// .vue3-easy-data-table__header th .header.direction-left {
//   justify-content: center !important;
// }
// .vue3-easy-data-table__main.fixed-header th {
//   padding: 25px 10px !important;
// }
// .table-style tr {
//   padding: 5px 10px !important;
// }
// .vue3-easy-data-table__body td {
//   text-align: right !important;
// }
// .vue3-easy-data-table__body td.direction-left {
//   max-width: 100px !important;
//   width: 100px;
// }
// .vue3-easy-data-table__body {
//   height: 60vh;
//   overflow-y: auto;
// }
// table tr:last-child td .Dropdown ul {
//   top: auto !important;
//   bottom: 10px !important;
// }
.table-style thead tr th {
  padding: 20px 9px;
  background: #D8F6E3 !important;
  width: 90px;
  max-width: 90px !important;
  min-width: 90px !important;
  text-align: center !important;
  color:#03A84E !important;
  font-weight: 400;
}

.p-datatable-tbody>tr>td {
  text-align: center !important;
  color: #000000 !important;
  font-weight: 700;

}

.p-datatable-column-header-content {
  display: block !important;
}

// .table-style thead tr th:first-child {
//   padding: 15px 25px;
// }
.p-datatable-table-container {
  box-shadow: 0px 0px 11.3px 0px #00000040;
  border-radius: 17px;
}

.table-style thead tr th:last-child {
  border-top-left-radius: 19px;
}

.table-style thead tr th:first-child {
  border-top-right-radius: 19px;
}
.p-datatable-paginator-bottom{
  border: 0px !important;
}
// .table-style tbody {
//   display: block;
//   padding-top: 5px;
//   max-height: 320px;
//   overflow-y: auto;
//   tr {
//     margin: 13px auto;
//     width: 99%;
//     padding: 5px;
//   }
//   td {
//     text-align: center !important;
//     width: 100px;
//     max-width: 100px !important;   
//      min-width: 100px !important;
//     padding: 14px 0px !important;
//     &:first-child {
//       padding: 14px 20px !important;
//     }
//   }
// }
// .card-body {
//   width: 95%;
//   margin: 20px auto;
// }
// .p-datatable-column-header-content {
//   justify-content: center;
// }